NEXT_PUBLIC_APP_NAME=LoL Friends
RIOT_API_KEY=RGAPI-REPLACE_ME
# Servidor por defecto (solo se usa hasta detectar el de cada amigo). LAS=la2, LAN=la1, EUW=euw1
RIOT_REGION=la2
RIOT_REGIONAL=americas
# Opcional: se usa solo para seedear la tabla friends la primera vez
FRIENDS=FriendOne#LAS,FriendTwo#LAS
